{% extends 'base.html' %}


{% block head %}

    {% block title %}Ecosistemas{% endblock %}

    {% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">{% endblock %}

{% endblock %}


{% block content %}
    <main>
        <div class="container">
          <article class="left">
            <div class="img-container">
              <img class="img" src="{{ url_for('static', filename='img/images/paramo.jpeg') }}" alt="Fotografía de un paisaje de páramo" />
              <h2>Páramo</h2>
            </div>
            <p>El páramo es un ecosistema único de alta montaña que se encuentra entre los 3,000 y 4,500 metros sobre el nivel del mar. En Cundinamarca y Boyacá, los páramos como el de Sumapaz, Chingaza y Rabanal son de gran importancia ecológica. Este ecosistema es vital para la captación y regulación de agua, sirviendo como fuente para numerosos ríos y lagunas. </p>
          </article>
          
          <article class="right">
            <div class="img-container">
              <img class="img" src="{{ url_for('static', filename='img/images/bosques andinos.jpeg') }}" alt="Fotografía de un paisaje de bosque andino">
              <h2>Bosques Andinos</h2>
            </div>
            <p>Los bosques andinos son uno de los ecosistemas predominantes en Cundinamarca y Boyacá, ubicándose entre los 1,800 y 3,000 metros sobre el nivel del mar. Estos bosques están caracterizados por una gran diversidad de flora, incluyendo especies de árboles como el roble, el arrayán y el encenillo, y una rica variedad de fauna, como aves endémicas, mamíferos y reptiles. Estos bosques juegan un papel crucial en la regulación del clima y el ciclo del agua.</p>
          </article>
            
          <article class="left">
            <div class="img-container">
              <img class="img" src="{{ url_for('static', filename='img/images/bosque de niebla.jpeg') }}" alt="Fotografía de un paisaje de los bosques de niebla" />
              <h2>Bosque de Niebla</h2>
            </div>
            <p>Estos bosques, situados en altitudes entre los 2,000 y 3,500 metros, se caracterizan por una alta humedad y frecuentes neblinas. Son ecosistemas muy biodiversos, con una gran variedad de epífitas, orquídeas y bromelias. La fauna incluye mamíferos como el puma y el tigrillo, así como numerosas especies de aves y anfibios. Los bosques de niebla son esenciales para la conservación del agua y la biodiversidad.</p>
          </article>

          <article class="right">
            <div class="img-container">
              <img class="img" src="{{ url_for('static', filename='img/images/humedal.jpeg') }}" alt="Fotografía que muestra el paisaje de un humedal" />
              <h2>Humedales</h2>
            </div>
            <p>Cundinamarca y Boyacá cuentan con numerosos cuerpos de agua, como la Laguna de Tota y la Laguna de Fúquene. Estos ecosistemas acuáticos son cruciales para la biodiversidad local y sirven como hábitat para aves acuáticas, peces y anfibios. Los humedales son también importantes para la regulación hídrica y la filtración de contaminantes.</p>
          </article>
        </div>
    </main>
{% endblock %}